{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/show.css'%}">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="container">
            <div id="egg-container">
                <img src="{% static 'img/ds.avif'%}" alt="">
                <img id="egg" src="{% static 'img/Inosuke-PNG.png'%}" alt="">
            </div>
            <nav>
                <a href="/letraindelinfinie/index">Accueil</a>
                <a href="/letraindelinfinie/random">Aléatoire</a>
                <a href="/letraindelinfinie/create">Nouveau</a>
            </nav>
            <form method="post" action="{% url 'search_redirect' %}">
                {% csrf_token %}
                <input type="text" name="search_id"  placeholder="Recherche par ID">
                <button type="submit"></button>
            </form>
        </div>
    </header>
    <main>
        {% if search %}
        <div id="main-container">
            <h1>Voici le plan pour la destination de {{ city }} </h1>
            <h1>Train ID n°{{ id }} </h1>
            <div id="plan-container">
                <a href="/letraindelinfinie/show/{{ previousID }}"><img id="left" src="{% static 'img/icons8-flèche-100.png'%}" alt=""></a>
                <img id="plan" src="{{ plan }}" alt="">
                <a href="/letraindelinfinie/show/{{ nextID }}"><img id="right" src="{% static 'img/icons8-flèche-100.png'%}" alt=""></a>
            </div>
        </div>
        {% else %}
        <div id="main-container">
            <h1>Voici le plan pour la destination de {{ city }}</h1>
            <h1>Train ID n°{{ id }} </h1>
            <div id="plan-container">
                <a href="/letraindelinfinie/show/{{ previousID }}"><img id="left" src="{% static 'img/icons8-flèche-100.png'%}" alt=""></a>
                <img id="plan" src="{{ plan }}" alt="">
                <a href="/letraindelinfinie/show/{{ nextID }}"><img id="right" src="{% static 'img/icons8-flèche-100.png'%}" alt=""></a>
            </div>
        </div>
        {% endif %}
    </main>
    
</body>
</html>